@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
a {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}
h1 {
  text-align: center;
}
:root {
  --primaryColor: #0061df;
  --secondaryColor: #696969;
  --headerColor: #0d263b;
}
.title {
  font-weight: 600px;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--headerColor);
  text-transform: capitalize;
}
.subtitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondaryColor);
  text-align: center;
}
.cardTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--headerColor);
  margin-bottom: 4px;
}
.cardSubtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--secondaryColor);
}
.HouseSpecs {
  font-size: 14px;
  line-height: 20px;
  color: var(--secondaryColor);
  text-transform: capitalize;
  margin-bottom: 0;
}
.discount {
  font-size: 12px;
  text-decoration-line: line-through;
  color: var(--secondaryColor);
  margin-bottom: 0;
}
.rec.rec-arrow {
  background-color: white;
}
.sc-fnykZs {
  width: 100%;
}
.lkRolg:focus:enabled,
.lkRolg:hover:enabled {
  background-color: white !important;
  color: black !important;
  box-shadow: 5px 5px 5px;
}
.rec-carousel {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.rec-slider-container {
  max-width: 1180px;
}
@media only screen and (max-width: 600px) {
  .rec.rec-arrow {
    display: none;
  }
}

.searchformfld {
  position: relative;
  margin-top: 44px;
}
.searchformfld label {
  position: absolute;
  line-height: 20px;
  top: 0px;
  cursor: text;
  text-transform: capitalize;
  font-size: 14px;
  cursor: text;
  left: 0;
}
.searchformfld input:focus + label,
.searchformfld input:not(:placeholder-shown) + label {
  opacity: 1;
  transform: scale(1) translateY(-130%) translateX(0px);
  color: #000;
}
.searchformfld label,
.searchformfld input {
  transition: all 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}
